<p><%= @workout.name %></p>
<p><%= @workout.description %></p>
<%= form_for @wod, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :workout_id, :value => @workout.id %>
  <div class="form-actions">
    <%= f.submit "create wod for "+Date.today.strftime('%A, %d %B %Y'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                wods_path, :class => 'btn' %>
  </div>
<% end %>
