<div class="row">
  <div class=span12">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div class="row"
            <span><%= post.created_at.strftime('%A, %d %B %Y') %></span>


        <td><%= post.score %></td>
        <td><%= post.photo_url %></td>
        <td><%= post.text %></td>
        <td><%= post.user_id %></td>
        <td><%= post.wod_id %></td>
        <td><%=l post.created_at %></td>







          <% if signed_in? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>

          <% end %>

          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
