<!DOCTYPE html>
<html>
<head>
  <title>WOD Landia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">WOD Landia</a>
        <div class="nav-collapse pull-right">
          <ul class="nav">
            <li>
            <% if signed_in? -%>
              <%= link_to t('.sign_out'), sign_out_path, :method => :delete %>
            <% else -%>
              <%= link_to t('.sign_in'), sign_in_path %>
            <% end -%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
